@page
@using System.Runtime.InteropServices
@using System.IO
@using System.Diagnostics
@model IndexModel
@{
ViewData["Title"] = "Home page";
var process = Process.GetCurrentProcess();
}

<div class="text-center mt-5 mb-5">
    <h1 class="display-4">SearchTaxSales</h1>
</div>

<div>
    <form method="post">
        <div class="form-group">
            <div class="input-group">
                <input type="search" class="form-control" asp-for="Search.Input" value="" width="200" />
                <span class="input-group-btn">
                    <button class="btn btn-default">
                        <i class="fas fa-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </form>
</div>
