@page
@using System.Runtime.InteropServices
@using System.IO
@using System.Diagnostics
@model ResultsModel
@{
ViewData["Title"] = "Home page";
var process = Process.GetCurrentProcess();
}

<div>
    <form method="post">
        <div class="form-group">
            <div class="input-group">
                <input type="search" class="form-control" asp-for="Search.Input" value="" width="200" />
                <span class="input-group-btn">
                    <button class="btn btn-default">
                        <i class="fas fa-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </form>
</div>
<div>
@foreach (var item in Model.Results)
{
    <div class="mt-3 mb-3">
        <a href="@item.Link">
            <h4>@Html.DisplayFor(modelItem => item.Title)</h4>      
        </a>
        <div>
            @Html.DisplayFor(modelItem => item.Comment)
        </div>
    </div>
}
</div>